.myuxf {
  background-color: #f1f1f1;
  color: #333333;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  -web-tab-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.myuxf html {
  font-family: monospace;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.myuxf body {
  background-color: #237A2E;
  margin: 0;
  color: #FFDE00;
}
